{% load i18n sizeformat parse_date %}
{% load url from future %}
<div class="row-fluid">
  <div class="form-inline">
    <h4 class="form-inline">{% trans "Availability zones: " %}</h4>
    <select name="az" class="form-control" onChange="location.href=this.options[this.selectedIndex].value" style="width: auto;">
      {% for az in az_list %}
        <option value="?group=az&name={{ az }}" {% if name and name == az %}selected{% endif %}>{{ az }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var id = 'capacity_az';
  var tab_name = 'capacity_group_tabs__capacity_az';

  setLoader(id, "{{ detail_url }}");
  $('a[href$=' + tab_name + ']').parent().click(function() {
    showCapacity(id);
  });
});
</script>

<div class="row-fluid">
  <div class="form-inline">
    <h4 class="form-inline">{% trans "Availability zones: " %}</h4>
    <select name="az" class="form-control" onChange="location.href=this.options[this.selectedIndex].value" style="width: auto;">
      {% for az in az_list %}
        <option value="?group=az&name={{ az }}" {% if name and name == az %}selected{% endif %}>{{ az }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="clearfix"><br /></div>
  <div class="col-sm-12">
    <iframe src="{{ detail_url }}" height="1000" width="100%" ></iframe>
  </div>
</div>
